.bbox {
  padding: 10px 15px 11px !important;
  font-size: 18px !important;
  background-color: #57d6c7;
  height: 100px;
  font-weight: bold;
  text-shadow: 1px 1px #57D6C7;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #57D6C7;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.box {
  background: #3167dc;
  background-image: -webkit-linear-gradient(top, #3167dc, #2ca8b8);
  background-image: -moz-linear-gradient(top, #3167dc, #2ca8b8);
  background-image: -ms-linear-gradient(top, #3167dc, #2ca8b8);
  background-image: -o-linear-gradient(top, #3167dc, #2ca8b8);
  background-image: linear-gradient(to bottom, #3167dc, #2ca8b8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 32px 40px 27px 40px;
  text-decoration: none;
}

.box:hover {
  background: #2ca8b8;
  background-image: -webkit-linear-gradient(top, #2ca8b8, #3167dc);
  background-image: -moz-linear-gradient(top, #2ca8b8, #3167dc);
  background-image: -ms-linear-gradient(top, #2ca8b8, #3167dc);
  background-image: -o-linear-gradient(top, #2ca8b8, #3167dc);
  background-image: linear-gradient(to bottom, #2ca8b8, #3167dc);
  text-decoration: none;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 35px;
  padding: 32px 40px 27px 40px;
  text-decoration: none;
}

.btn {
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: slategray;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: slategray;
  text-decoration: none;
  border: none;
}