<dom-module id="button-accent">

    <template>

        <link rel="stylesheet" href="../fontAwesome/css/font-awesome.min.css">

        <style>

            .accent {
                width: 500px;
                height: 55px;
            }
            .accent .countDiv {
                background-color: #4db6ac;
                border: 1px solid #4db6ac;
                color: white;
            }
            .accent:hover .label {
                border: 1px solid #4db6ac;
                border-left: none;
            }

        </style>

        <div class="accent">

            <div class="countDiv" on-tap="incrementCount">
                <span id="countAccent">0</span>
            </div>

            <div class="label">
                <span class="fa fa-lightbulb-o"></span>
                <span class="text">&nbsp;Accent</span>
            </div>
        </div>

    </template>

        <script>

                HTMLImports.whenReady(function () {

                    Polymer({
                        is: 'button-accent',

                        incrementCount: function() {

                            var val = document.getElementById("countAccent").innerHTML;
                            var count = parseInt(val);

                            count++;
                            document.getElementById("countAccent").innerHTML = count.toString();
                        },

                    } );

                });


        </script>

</dom-module>