<dom-module id="document-element">

    <template>

        <style>

            p {
                font-family: Chalkduster;
                font-size: 20px;
                color: royalblue;
            }

            .btn {
                font-family: Arial;
                color: #ffffff;
                font-size: 18px;
                background: royalblue;
                padding: 10px 20px 10px 20px;
                text-decoration: none;
                border: none;
            }

            .btn:hover {
                background: royalblue;
                text-decoration: none;
                border: none;
            }

        </style>
        <p id="paragraph">Hi! I'm a Polymer element that was defined in the main document!</p>

        <button class="btn" id="button1" on-tap="handleTap">Kick Me</button>

    </template>

    <script>
        HTMLImports.whenReady(function () {

            Polymer({
                is: 'document-element',

                handleTap: function() {

                    var text = document.getElementById("paragraph").innerHTML;

                    if (text === "Hi! I'm a Polymer element that was defined in the main document!") {
                        document.getElementById("paragraph").innerHTML = "Ow!";
                    } else if (text === "Ow!"){

                        document.getElementById("paragraph").innerHTML = "Hi! I'm a Polymer element that was defined in the main document!";
                    }
                },

                created: function() {
                    this.textContent = 'Document element!';
                }

            } );

        });

        var el1 = document.createElement('document-element');

    </script>

</dom-module>