<% content_for :title, 'New Book Add' %>

<div id="container">

  <h1>Add a New Book</h1>

  <%= render 'form' %>

  <%= link_to 'Back', books_path, :class=>'linkText', :style=>'color:#6e86c5' %>

</div>