<% content_for :title, 'First Page View' %>

  <body>

    <style>
      img{
        width:100%;
        max-width:100%;
      }
    </style>

      <div id="first_page">
      <%= image_tag(@book.first_page_URL, :alt => 'Image not available') %>
      </div>

    <div id="return_button" style="top: 1100px">
      <%= button_to 'Return to Catalogue Page', books_path, :class => 'ui button', :method => :get %>
    </div>
  <br>

  </body>
