/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table.qr-code {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
}
table.qr-code td {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
}
table.qr-code td.black { background-color: #000; }
table.qr-code td.white { background-color: #fff; }

.pretty th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
}

.pretty th .asc {
    background-image: url("up_arrow.gif");
}

.pretty th .desc {
    background-image: url("down_arrow.gif");
}
