<% content_for :title, 'Create QR Code' %>

<body>

<div id="container">
      <h1>Create QR Code</h1>

        <br><br><br>
        <!--p><%= @qr %></p-->

        <!--<#%=File.open('/home/cadebe/Desktop/test', 'w') { |file| file.write @qr } %>-->

      <table class="qr-code">
        <% @qr.modules.each_index do |x| %>
            <tr>
              <% @qr.modules.each_index do |y| %>
                  <% if @qr.dark?(x,y) %>
                      <td class="black"/>
                  <% else %>
                      <td class="white"/>
                  <% end %>
              <% end %>
            </tr>
        <% end %>
      </table>

      <br />
      <br />

      </div>

</div>


<div id="qr_button3" >
  <%= button_to 'Print QR Code', '#', class: 'ui button', onclick: 'window.print();return false;' %>
</div>

<div id="qr_button4" >
  <%= button_to 'Return to Catalogue Page', books_path, :class => 'ui button', :method => :get %>
</div>

</body>
