<% content_for :title, 'Book Details Edit' %>

<div id="container">

  <h1>Editing Book</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @book, :class=>'linkText', :style=>'color:#6e86c5'%> |
  <%= link_to 'Return to Catalogue Page', books_path, :class=>'linkText', :style=>'color:#6e86c5' %>

</div>
