<!-- Web Component examples adapted from: http://www.revillweb.com/tutorials/web-component-tutorial/-->
<!--                                      https://css-tricks.com/modular-future-web-components//-->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <title>Web Components Examples</title>
        <script src="lib/webcomponents.min.js"></script>
        <link rel="import" href="components/favourite-colour.components.html"/>
        <link rel="import" href="components/date-widget.components.html"/>
        <link rel="import" href="components/date-widget-simple.components.html"/>
        <link rel="import" href="components/x-foo-with-markup.components.html"/>
        <link rel="import" href="components/name-badge.components.html"/>
        <link rel="import" href="components/mega-button.components.html"/>
        <link rel="import" href="components/my-tab.components.html"/>
        <link rel="stylesheet" type="text/css" href="scss/style.css"/>
        <script src="scripts/general.js" ></script>
    </head>

    <body>

        <h2 class="h2Div">Web Components Examples</h2>
        <br>
        <h4>x-foo-with-markup Example (webcomponents.min.js)</h4>
        <h5>Chrome, Opera, FireFox, IE11</h5>
        <br/><br/>

        <div id="x-foo-with-markup">
            <x-foo-with-markup></x-foo-with-markup>
        </div>

        <br/><br/><br/>

        <h4>Simple Example (webcomponents.min.js)</h4>
        <h5>Chrome, Opera</h5>
        <br/>

        <favourite-colour>BLUE</favourite-colour>
        <script>document.getElementsByTagName("favourite-colour")[0].setAttribute("theme", "blue");</script>

        <br/><br/>

        <h4>Date Widget Example (webcomponents.min.js)</h4>
        <h5>Chrome, Opera, FireFox, IE11</h5>
        <br/>

        <date-widget-simple></date-widget-simple> <!-- use custom component -->

        <br/><br/>

        <h4>Date Widget Example (webcomponents.min.js)</h4>
        <h5>Chrome, Opera</h5>
        <br/>

        <date-widget></date-widget> <!-- use custom component -->

        <!-- Set custom component colour value ("green", "blue", "red", "gold") -->
        <script>document.getElementsByTagName("date-widget")[0].setAttribute("theme", "red");</script>

        <br/><br/>

        <h4>Mega Button Example - button inheritance (webcomponents.min.js)</h4>
        <h5>Chrome, Opera, FireFox, IE11</h5>
        <br/><br/>

        <div id="buttonDiv">
            <button is="mega-button" class="box" ></button>
        </div>

        <br/><br/><br/>

        <h4>Polaroid Example (webcomponents.min.js)</h4>
        <h5>Chrome, Opera</h5>

        <div id="dog1Div">
            <my-tab>
                <h2>Funny Image</h2>
                <h3>Dog wearing braces</h3>
                <img src="/images/dog1.jpg" />
            </my-tab>
        </div>

        <div id="dog2Div">
            <my-tab>
                <h2>Another Funny Image</h2>
                <h3>Dog wearing headphones</h3>
                <img src="/images/dog2.jpg" />
            </my-tab>
        </div>

        <div id="nameTags">
            <h4>Name Badge Example (webcomponents.min.js)</h4>
            <h5>Chrome, Opera</h5>
            <br/><br/>

            <div id="name1">
                <name-badge>Carla</name-badge>
                <div id="name2">
                    <name-badge>Vivian</name-badge>
                </div>
            </div>
        </div>

        <div id="buttonDiv2">
            <button class="btn" id="button1" onclick="openPage1()">Proceed to Polymer Examples</button>
        </div>

    </body>

</html>