<!-- Web Component examples adapted from: http://www.revillweb.com/tutorials/web-component-tutorial/-->
<!--                                      https://css-tricks.com/modular-future-web-components/
                                          http://www.html5rocks.com/en/tutorials/webcomponents/shadowdom/-->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <title>Polymer Examples</title>
        <link rel="import" href="https://www.polymer-project.org/0.5/components/polymer/polymer.html"/>
        <link rel="import" href="components/img-slider-simple.components.html"/>
        <link rel="import" href="components/img-slider.components.html"/>
        <link rel="import" href="components/foo-element.components.html"/>
        <link rel="stylesheet" type="text/css" href="scss/style.css"/>
        <script src="scripts/general.js" ></script>
    </head>

    <body>

    <h2 class="h2Div">Polymer Examples</h2>
    <br>

    <h4>foo-element Example (Polymer)</h4>
    <h5>Chrome, Opera</h5>
    <br/><br/>

    <foo-element></foo-element>
    <foo-element></foo-element>

    <br/><br/>


    <h4>Image Slider Example (Polymer)</h4>
    <h5>Chrome, Opera</h5>
    <br/><br/>

    <img-slider>
        <img src="/images/rock4.jpg"/>
        <img src="/images/rock1.jpg"/>
        <img src="/images/rock2.jpg"/>
        <img src="/images/rock3.jpg"/>
    </img-slider>

    <br/>

    <h4>Image Slider Example (webcomponents.js)</h4>
    <h5>Chrome, Opera</h5>
    <br/><br/>

    <img-slider-simple></img-slider-simple>

    <div id="buttonDiv3">
        <button class="btn" id="button1" onclick="openPage2()">Back to Web Components Examples</button>
    </div>

    </body>

</html>